[package]
name = "tokio-graceful-shutdown"
authors = ["Finomnis <finomnis@gmail.com>"]
version = "0.3.0-beta.1"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/Finomnis/tokio-graceful-shutdown"
description = "Utilities to perform a graceful shutdown on a Tokio based system."
keywords = ["tokio", "shutdown"]
categories = ["asynchronous"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

exclude = [
    "/.github/"
]

[dependencies]
# Result propagation
anyhow = "1.0"

# For async utilities
tokio = { version = "1", default-features = false, features = ["signal", "rt", "macros", "time"] }
tokio-util = { version = "0.6", default-features = false }
futures = "0.3"
async-recursion = "0.3"

# For logging
log = "0.4"

[dev-dependencies]
# Logging
env_logger = "0.9"

# Tokio
tokio = { version = "1", features = ["full"] }
