[package]
name = "tokio-graceful-shutdown"
authors = ["Finomnis <finomnis@gmail.com>"]
version = "0.13.0"
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/Finomnis/tokio-graceful-shutdown"
description = "Utilities to perform a graceful shutdown on a Tokio based service."
keywords = ["tokio", "shutdown"]
categories = ["asynchronous"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

exclude = [
    "/.gitignore",
    "/.github/",
    "/TODO.txt",
    "/UPCOMING_VERSION_CHANGES.txt",
]

[dependencies]
# Error definitions
thiserror = "1.0.32"
miette = "5.3.0"

# For async utilities
tokio = { version = "1.20.1", default-features = false, features = [
    "signal",
    "rt",
    "macros",
    "time",
] }
tokio-util = { version = "0.7.2", default-features = false }
futures = "0.3.23"
async-recursion = "1.0.0"
pin-project-lite = "0.2.9"

# For 'IntoSubsystem' trait
async-trait = "0.1.57"

# For logging
log = "0.4.17"

[dev-dependencies]
# Error propagation
anyhow = "1.0.61"
eyre = "0.6.8"
miette = { version = "5.3.0", features = ["fancy"] }

# Logging
env_logger = "0.10.0"

# Tokio
tokio = { version = "1.20.1", features = ["full"] }

# Hyper example
hyper = { version = "0.14.20", features = ["full"] }

# Warp example
warp = "0.3.1"

# For testing unix signals
[target.'cfg(unix)'.dev-dependencies]
nix = { version = "0.26.1", default-features = false, features = ["signal"] }

# Make leak sanitizer more reliable
[profile.dev]
opt-level = 1
